<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div class="container">
    <div id="question-nav" class="question-nav"></div>

    <div class="question-area">
      <div id="timer" class="timer"></div>
      <button id="submit-btn" class="submit-btn">End Exam</button>

      <div id="question-text" class="question-text"></div>
      <div id="options" class="options"></div>

      <div class="nav-buttons">
        <button id="prev-btn">Previous</button>
        <button id="skip-btn">Skip</button>
        <button id="next-btn">Next</button>
      </div>
    </div>
  </div>
    <script src="JS/quiz.js"></script>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="SK_Sheeraz" data-description="Support me on Buy me a coffee!" data-message="" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
</body>

</html>
